@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    xxl: 1800px,
    xxxl: 2000px   
  )
);

$container-max-widths: map-merge(
  $container-max-widths,
  (
    xxl: 1520px,
    xxxl: 1750px
  )
);

@import "~bootstrap/scss/bootstrap";
$color-primary: #FF1E00;  
$color-dark: #15151E;          
$color-darker: black; 
$color-neutral: #2E2E33;      
$color-light-text: #FFFFFF;     
$color-accent: #FFD700;         
$color-border: #505050;         
$color-dark-lighter: #1F1F24;     


//////////////////////////////////////////////////

@mixin colorize($bg: null, $text: null) {
  @if $bg != null { background-color: $bg; }
  @if $text != null { color: $text; }
}

@mixin bordered($color: $color-border, $width: 1px, $side: null, $style: solid) {
  @if $side == null {
    border: $width $style $color;
  } @else {
    border-#{$side}: $width $style $color;
  }
}

@mixin sized($w, $h: $w) {
  width: $w; height: $h;
}

@mixin card-surface(
  $bg: $color-neutral,
  $text: $color-light-text,
  $border: $color-border,
  $radius: 0px
) {
  @include colorize($bg, $text);
  @include bordered($border);
  border-radius: $radius;
  background-clip: padding-box;
}

@mixin tone-bg($L) { background-color: hsl(0, 0%, $L); }

/////////////////////////////////////////////
body {
  @include colorize($bg: $color-dark-lighter, $text: $color-light-text);
  margin: 10px 10px 10px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  h1, h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;   
    font-size: 24px;
    color: $color-accent;
  }
  h1{
    font-size: 36px;
    padding-left: 10%;
    display: inline-block;
    color: $color-primary;
  }
}

.nav-topper{
    @include colorize($bg: $color-dark);
    @include bordered($color-border);
    height: 62px;
    .icon {
        @include sized(60px, 55px);
        background-color: $color-darker; 
    }
    .name{
        color: $color-light-text;
        color: $color-primary;
    }
    .dwn-btn{
        @include colorize($color-primary,$color-darker);
        border-radius: 3px;
    }
}

.gd{
    .cd{
        @include card-surface();
        cursor: pointer;
        .on_top{ 
          margin-left: 3px;
          margin-top: 3px;
          position: absolute;
          @include colorize($color-darker, $color-light-text);
          @include bordered($color-border);
          border-radius: 4px;
        }
        img{
          height: 230px;
        }
        .info-btn{
          @include colorize($color-primary,$color-darker);
          border-color:$color-dark;
          border-radius: 3px;
        }
        &.card-manage{
        text-decoration: none;
        color: inherit;
        }
        &.card-manage:hover, &.card-manage:focus{
          text-decoration: none;
          color: inherit;
        }
        .title-link {
        text-decoration: none;
        color: inherit;
        }
        .title-link:hover,.card .title-link:focus {
        text-decoration: none;
        }
    } 
}

.bottom{
    @include bordered($color-darker, 1px, top);
    padding: 10px 10px 10px 10px;
    margin-top: 100px;
    p{
      margin: 0;
    }
    .icon{
        margin-left: 15px;
        @include sized(30px, 3s0px);
    }
    .icons{
        display: flex;  
    }
}

.warn{
  right: 20px; 
  bottom: 20px; 
  z-index:1080;
  .color_warn{
    background-color: $color-neutral;
  }
}

.info{
  .main-block{
    background-color: $color-neutral;
  }
  .x-mark{
    color: $color-light-text;
  }
  .dlg-szd{
    width: fit-content;
  }
}

.details{ 
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: max-content 1.25em 1fr;
    column-gap: .5rem;
    row-gap: .25rem;
  }
  li{
    display: contents; 
  }
  .name{
    white-space: nowrap; 
  }
  .sep{ 
    text-align: center;
  }
  .popover-body{
    font-family: inherit;        
    background: $color-border;
    color: $color-light-text;
  }
}     

$tones: 5;
$start: 30%;
$step: 6%;   

@mixin bg($L) { background-color: hsl(0, 0%, $L); }

.gd .row{
  @for $i from 1 through $tones {
    > *:nth-child(#{$tones}n + #{$i}) .cd{
      @include bg($start - ($i - 1) * $step);
    }
  }
}